<h1>All Starships:</h1>

<% @starships.each do |starship| %>
  <li>
    <%= link_to(starship.name, starship_path(starship)) %>
  </li>
<% end %>

<%= link_to 'Create New Starship', new_starship_path %>
